<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Merch</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-whiteborder-bottom shadow-sm">
        <nav class="p-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/welcome_to_site">Home |</a>
            <h4 class="my-0 mr-md-auto font-weight-normal">Merch |</h4>
            <a class="p-2 text-dark" href="/tours">Tour |</a>
            <a class="p-2 text-dark" href="/listen_to_music">Listen |</a>
        </nav>
    </div>
</body>
</html>